# Cache
.sass-cache/
*.sassc
*.scssc

## Mac OSX
.DS_Store
Icon
*.swp~

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

## Windows
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# WordPress
sitemap.xml
sitemap.xml.gz

# Yarn / NPM
node_modules
yarn-error.log
npm-debug.log

# Compiled CSS
assets/css/*
*.css.map

# Compiled JS
assets/js/*
*.js.map

# Vite
dist
dist-ssr
*.local
