// ACF Flexible Content
// "Donate" Layout
.donate {
  display: flex;
  align-items: center;

  &__text {
    width: 100%;
  }

  //******************** Form wrapper
  &__formWrap {
    // At small sizes, put form beneath the heading/body text
    order: 1;
    max-width: rem-calc(600);
    justify-content: center;
    @include dynamicCalc(($small: 1rem, $medium: 1.75rem, $large: 2rem, $xlarge: 2.5rem), 'padding-top');


    @include breakpoint(large) {
      // Form is on left
      &.--left {
        order: -1;
        justify-content: flex-end;
        // Push form toward center
        margin-left: auto;
      }

      // Form is on right
      &.--right {
        order: 1;
        justify-content: flex-start;
        // Push form toward center
        margin-right: auto;
      }
    }
  }

  //********** Form element
  &__form {
    width: 100%;
    text-align: center;
  }

  //********** Top half of form
  // Container for once/monthly tabs
  &__interval {
    display: flex;
    justify-content: space-evenly;
    border: rem-calc(3) solid $primary;
    border-radius: rem-calc(1000);
    transition: all .25s $easeInOutCirc;
    background-color: $primary;
    @include shadow($move: false, $borderRadius: rem-calc(1000), $y: rem-calc(2), $blur: rem-calc(3), $newY: rem-calc(5), $newBlur: rem-calc(6));

    &:hover {
      background-color: darken($primary, 10%);
      border: rem-calc(3) solid darken($primary, 10%);

      .donate__radioLabel {
        color: darken($primary, 10%);

        &.js--frequency {
          color: $lightest;
        }
      }
    }
  }

  //********** Give once, give monthly
  &__radioLabel {
    width: 50%;
    text-align: center;
    letter-spacing: rem-calc(1);
    @include dynamicCalc(($small: .5rem, $large: .75rem), 'padding');
    @include dynamicCalc(($small: .7rem, $large: .9rem), 'font-size');
    background-color: $lightest;
    color: $primary;
    font-weight: bold;
    transition: all .15s $easeInOutCirc;

    &:hover {
      color: $lightest;
      background-color: lighten($primary, 20%);
    }

    // Currently selected tab
    &.js--frequency {
      color: $lightest;
      background-color: $primary;

      &:hover {
        background-color: lighten($primary, 20%);
      }
    }
  }

  // Round top/bottom left corners
  &__onceLabel {
    &, &:hover {
      border-radius: rem-calc(1000) 0 0 rem-calc(1000);
    }
  }

  // Round top/bottom right corners
  &__monthlyLabel {
    &, &:hover {
      border-radius: 0 rem-calc(1000) rem-calc(1000) 0;
    }
  }


  //********** Bottom half of form
  // Includes input field and submit button
  &__formContent {
    border: rem-calc(3) solid $primary;
    border-radius: rem-calc(10);
    background-color: $lightest;
    @include shadow($move: false);
    margin-top: rem-calc(20);
    @include dynamicCalc(($small: .7rem, $medium: .9rem, $large: 1.1rem, $xlarge: 1.3rem), 'padding');
  }

  //********** Text at the top of the form
  &__formHeading {
    line-height: unset;
    padding-bottom: 2rem;
    color: $darker;
    @include dynamicCalc(($small: .8rem, $medium: 1rem, $large: 1.2rem, $xlarge: 1.5rem), 'font-size');
  }


  &__inputWrap {
    position: relative;
  }

  //********** Input field element
  &__input {
    border: rem-calc(2) solid $darker;
    background-color: lighten($primary, 40%);
    border-radius: rem-calc(1000);
    font-weight: 400;
    color: $primary;
    @include dynamicCalc(($small: 1.25rem, $large: 1.5rem, $xlarge: 2.5rem), 'padding');
    @include dynamicCalc(($small: 1.3rem, $medium: 1.5rem, $large: 2rem, $xlarge: 2.35rem), 'font-size');
    @include dynamicCalc(($small: 1.6rem, $medium: 2rem, $large: 3.2rem, $xlarge: 3.75rem), 'padding-left');

    &:focus {
      border: rem-calc(2) solid $darker;
      background-color: $primary;
      box-shadow: none;
    }
  }

  //********** $ and USD
  &__currencySymbol,
  &__currency {
    position: absolute;
    top: 50%;
    transform: perspective(rem-calc(1)) translateY(-42%);
    color: $darker;
    z-index: 1;
    @include dynamicCalc(($small: .9rem, $medium: 1.15rem, $large: 1.25rem, $xlarge: 1.5rem), 'font-size');
  }

  &__currencySymbol {
   @include dynamicCalc(($small: rem-calc(10), $medium: rem-calc(15), $large: rem-calc(20), $xlarge: rem-calc(30)), 'left');
  }

  &__currency {
    @include dynamicCalc(($small: rem-calc(10), $medium: rem-calc(15), $large: rem-calc(20), $xlarge: rem-calc(30)), 'right');
  }

  //********** Submit button
  &__button {
    @include dynamicCalc(($small: .7rem, $medium: 1rem, $large: 1.25rem, $xlarge: 1.5rem), 'padding');
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: rem-calc(2);
  }
}
