// ============================================ //
// ============== POST TYPE GRID ============== //
// ============================================ //

.postGrid {
  &__item {
    transition: background-color .4s $sineInOut, background-image .4s $sineInOut;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: $postGridItemMinWidth;
    min-height: $postGridItemMinHeight;

    &:hover {
      background-image: none !important;
    }

    @include shadow($move: false, $properties: 'background-color, bottom, box-shadow');

    @include dynamic(($small: xy-cell-size(100%),$medium: xy-cell-size(1/2),$mediumish: xy-cell-size(1/3),$large: xy-cell-size(1/4), $xxlarge: xy-cell-size(1/5)), 'width');


    &:hover h4 {
      display: block;
    }

    h4 {
      text-align: center;
      display: none;
      margin: 0 auto;
    }
  }


  &__textContent {}
}
