// ACF Flexible Content
// "Post Type Grid" Layout

.postGrid {
  &__wrapper {
    @include poly-fluid-sizing('margin-top', ($small: 1rem, $medium: 1.75rem, $large: 3rem, $xlarge: 4rem));
  }

  &__item {
    transition: background-color .4s $sineInOut, background-image .4s $sineInOut;
    background-size: cover;
    background-position: center center;
    min-width: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    width: 100%;

    &:hover {
      background-image: none !important;
    }

    @include shadow($move: false, $properties: 'background-color, bottom, box-shadow');

    @include breakpoint(medium) {
      width: xy-cell-size(1/2);
    }

    @include breakpoint(mediumish) {
      width: xy-cell-size(1/3);
    }

    @include breakpoint(large) {
      width: xy-cell-size(1/4);
    }

    @include breakpoint(xxlarge) {
      width: xy-cell-size(1/5);
    }

    &:hover h4 {
      display: block;
    }

    h4 {
      text-align: center;
      display: none;
      margin: 0 auto;
      @include vertical-align;
    }
  }


  &__textContent {
    &--left {
      margin-right: auto;
      margin-left: 0;
    }

    &--center {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &--right {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
