// ACF Flexible Content
// "Post Type Grid" Layout

.postGrid {

  &__item {
    height: 350px;
    margin: 1rem;
    transition: background-color .4s $sineInOut, background-image .4s $sineInOut;
    background-size: cover;
    background-position: center center;
    min-width: 250px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

    &:hover h2 {
      display: block;
    }

    h2 {
      text-align: center;
      display: none;
      margin: 0 auto;
      @include vertical-align;
    }
  }

  &__text {
    &--left {
      margin-right: auto;
      margin-left: 0;
    }

    &--center {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &--right {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
