// ACF Flexible Content
// "Split" Layout

.splitLeft, .splitRight {
  // Move left/right into one column
  width: 100%;
  flex: 1 0 auto;
  align-self: flex-start;

  &__content {
    width: 100%;
  }

  &__imageWrap {
    position: relative;
    top: rem-calc(10);
  }

  &__image {
    border-radius: 10px;
    @include shadow($move: false, $borderRadius: 10px);

  }

  &__textContent {
    margin-bottom: 0;
  }

  &__buttons {
    margin-top: 0;
  }

  &__heading {
  }

  &__text {
  }

  .text {
    width: 100%;
  }
}

.splitLeft {
  .leftImageWrap {
    @include breakpoint(large) {
      justify-content: flex-end;
    }
  }
}

.splitRight {
  .rightImageWrap {
    @include breakpoint(large) {
      justify-content: flex-start;
    }
  }
}
