/*=Base
---------------------------------------------------------------------*/
a {
    color: $link-color;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
        color: $link-color-hover;
    }
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}
