// ============================================ //
// =================== FORMS ================== //
// ============================================ //

$grid-padding: 10;

// Grid for Ninja Forms
// ------------------------------------
@mixin col-base {
    position: relative;
    float: left;
    padding-right: rem-calc($grid-padding);
    padding-left: rem-calc($grid-padding);
    width: 100%;
}

.col-wrap {
    @include col-base();
}

@for $n from 1 through 12 {
    .small-#{$n}-wrap,
    .medium-#{$n}-wrap,
    .large-#{$n}-wrap {
        @extend .col-wrap;
    }
}


@include breakpoint(small) {
    @for $n from 1 through 12 {
        .small-#{$n}-wrap {
            width: percentage($n / 12);
        }
    }
}

@include breakpoint(medium) {
    @for $n from 1 through 12 {
        .medium-#{$n}-wrap {
            width: percentage($n / 12);
        }
    }
}

@include breakpoint(large) {
    @for $n from 1 through 12 {
        .large-#{$n}-wrap {
            width: percentage($n / 12);
        }
    }
}


form {
  // Clears placeholder on focus.
  // For some reason autoprefixer wasn't picking
  // this up, so prefixes are manually added here

  /* Chrome <=56, Safari < 10 */
  ::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }

  /* FF 4-18 */
  :-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
  }

  /* FF 19-51 */
  ::-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
  }

  /* IE 10+ */
  :-ms-input-placeholder {
    opacity: 1;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
  }

  /* Modern Browsers */
  ::placeholder {
    opacity: 1;
    transition: opacity .5s;
  }

  /* Chrome <=56, Safari < 10 */
  *:focus::-webkit-input-placeholder { opacity: 0; }
  /* FF 4-18 */
  *:focus:-moz-placeholder { opacity: 0; }
  /* FF 19-50 */
  *:focus::-moz-placeholder { opacity: 0; }
 /* IE 10+ */
  *:focus:-ms-input-placeholder { opacity: 0; }
  /* Modern Browsers */
  *:focus::placeholder { opacity: 0; }
}



// Ninja Forms Layout
// ------------------------------------

.ninja-forms-cont {
    margin-right: rem-calc(-$grid-padding);
    margin-left: rem-calc(-$grid-padding);
}

.ninja-forms-field,
.field-wrap,
.ninja-forms-required-items {
    padding-right: rem-calc($grid-padding);
    padding-left: rem-calc($grid-padding);
}

.clear-fields {
    clear: both;
    margin: 0;
    height: 0;
    border: none;
}

// Custom Ninja Forms Styles
// ------------------------------------




