.nav-main-wrap {
  display: none;

  @include breakpoint(medium) {
    display: block;
  }
}

.nav-mobile-wrap {
  background-color: $secondary-color;
  color: $white;
  
  ul, li {
    margin: 0;
    list-style: none;
  }
  
  ul {
    max-height: 100%;
  }
  
  @include breakpoint(medium) {
    display: none;
  }
}