/*=Base
---------------------------------------------------------------------*/
*:focus {
    outline: none;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}
