@import 'motion-ui/src/motion-ui';
@include motion-ui-transitions;
@include motion-ui-animations;


// Custom motion-ui animations
// data-animation-in="fade-in-up" data-animation-out="fade-in-down"
.fade-in-up {
	@include mui-slide( in, $duration: 450ms, $direction: up, $amount: 3%, $fade: true, $timing: cubic-bezier(.65,.02,.23,1) );
}
.fade-in-down {
	@include mui-slide( out, $duration: 450ms, $direction: down, $amount: 3%, $fade: true, $timing: cubic-bezier(.65,.02,.23,1) );
}