// ============================================ //
// =============== TEXT SIZING ================ //
// ============================================ //

$headingSizes: (
  $small:     1.25rem,
  $smallish:  1.5rem,
  $medium:    2rem,
  $mediumish: 2.5rem,
  $large:     3rem,
  $xlarge:    4rem,
  $xxlarge:   4.5rem
);

$bannerHeadingSizes: (
  $small:     2rem,
  $smallish:  2.5rem,
  $medium:    3rem,
  $mediumish: 4rem,
  $large:     5rem,
  $xlarge:    6rem,
  $xxlarge:   7rem
);

$splitHeadingSizes: (
  $small:     1.5rem,
  $smallish:  1.75rem,
  $medium:    2rem,
  $mediumish: 2.5rem,
  $large:     3rem,
  $xlarge:    3.5rem,
  $xxlarge:   4rem
);

$bodyTextSizes: (
  $small: .7rem,
  $smallish: .8rem,
  $medium: .9rem,
  $mediumish: 1rem,
  $large: 1.15rem,
  $xlarge: 1.3rem
);





// ============================================ //
// ============== PADDING & WIDTH ============= //
// ============================================ //

// Padding to apply to top/bottom of each section,
// to give more spacing between sections
$sectionVerticalPadding: (
  $small:       1.5rem,
  $smallish:    2rem,
  $medium:      2.5rem,
  $mediumish:   2.75rem,
  $large:       3.25rem,
  $xlarge:      4rem,
  $xxlarge:     5rem
);


// Used to calculate max-width for non-split layouts,
// and used to calculate outer gutters for split layouts.
$subtractValues: (
  // For layoutWrapper max-width, these will be subtracted from 100vw.
  // For split layout outer padding, these will be divided by 2.
  $small:       2.3rem,
  $smallish:    4rem,
  $medium:      6rem,
  $mediumish:   8rem,
  $large:       12rem,
  $xlarge:      14rem,
  $xxlarge:     18rem
);


// The maximum width for content within non-split sections
$layoutWrapperMaxWidth: (
  $small:       calc(100vw - #{map-get($subtractValues, $small)}),
  $smallish:    calc(100vw - #{map-get($subtractValues, $smallish)}),
  $medium:      calc(100vw - #{map-get($subtractValues, $medium)}),
  $mediumish:   calc(100vw - #{map-get($subtractValues, $mediumish)}),
  $large:       calc(100vw - #{map-get($subtractValues, $large)}),
  $xlarge:      calc(100vw - #{map-get($subtractValues, $xlarge)}),
  $xxlarge:     calc(100vw - #{map-get($subtractValues, $xxlarge)})
);


// Outer gutter (padding) for split sections
// Left-padding for left side, right-padding for right side
$splitOuterGutter: (
  $small:       map-get($subtractValues, $small) / 2,
  $smallish:    map-get($subtractValues, $smallish) / 2,
  $medium:      map-get($subtractValues, $medium) / 2,
  $mediumish:   map-get($subtractValues, $mediumish) / 2,
  $large:       map-get($subtractValues, $large) / 2,
  $xlarge:      map-get($subtractValues, $xlarge) / 2,
  $xxlarge:     map-get($subtractValues, $xxlarge) / 2
);

// Inner gutter (padding) for split sections
// Right-padding for left side, left-padding for right side
$splitInnerGutter: (
  // At small - medium breakpoints, the split sections
  // are stacked, so we used the same inner gutter as the outer gutter
  $small: map-get($subtractValues, $small) / 2,
  $smallish: map-get($subtractValues, $smallish) / 2,
  $medium: map-get($subtractValues, $medium) / 2,
  $mediumish: 2rem,
  $large: 3rem,
  $xlarge: 4rem,
  $xxlarge: 5rem
);

// Button padding, left/right
$buttonPaddingX: (
  $small: 1rem,
  $smallish: 1.25rem,
  $medium: 1.5rem,
  $mediumish: 1.85rem,
  $large: 2rem,
  $xlarge: 2.1rem,
  $xxlarge: 2.2rem
);

// Button padding, top/bottom
$buttonPaddingY: (
  $small: .7rem,
  $smallish: .85rem,
  $medium: 1rem,
  $mediumish: 1.05rem,
  $large: 1.15rem,
  $xlarge: 1.25rem,
  $xxlarge: 1.35rem
);


// Elements set to --left or --right in ACF
$alignedContentWidth: (
  $mediumish: 70%,
  $large: 50%,
  $xlarge: 45%,
  $xxlarge: 40%
);


// Elements set to --left or --right in ACF
$alignedOuterGutter: (
  $mediumish:   map-get($subtractValues, $mediumish) / 2,
  $large:       map-get($subtractValues, $large) / 2,
  $xlarge:      map-get($subtractValues, $xlarge) / 2,
  $xxlarge:     map-get($subtractValues, $xxlarge) / 2
);
